[submodule "public"]
	path = public
	url = https://github.com/lumicia/lumicia.github.io
	branch = master
[submodule "hugo-theme-even"]
	path = hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
[submodule "themes/FeelIt"]
	path = themes/FeelIt
	url = https://github.com/khusika/FeelIt
